@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */

  --color-primary-bg: #333333;
  --color-primary-bg-dark: #1d4ed8;

  --breakpoint-3xl: 120rem; /* 1920px for large desktop/TV */
  --breakpoint-4xl: 160rem; /* 2560px for 4K/55-inch TV */

  /* Custom Spacing */
  --spacing-18: 4.5rem;
  --spacing-82: 20.5rem;
  --spacing-96: 24rem;
  --spacing-128: 32rem;

  /* Custom Font Sizes */
  --font-size-10xl: 10rem;
  --font-size-11xl: 12rem;
  --font-size-12xl: 14rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* globals.css */
.breakout {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
/* <div className="w-screen ml-[calc(50%-50vw)] bg-red-200"> */

/* <div className="w-screen relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] bg-red-200"> */

.sf-compact-fallback {
  font-family: "SF Compact Display", -apple-system, BlinkMacSystemFont,
    system-ui, sans-serif;
}
